.page-enter-active, .page-leave-active {
  transition: opacity 0.2s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-enter-active {
  animation: slide-in .4s;
}
.slide-leave-active {
  animation: slide-in .2s reverse;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideL-enter-active {
  animation: slide-inL .4s;
}
.slideL-leave-active {
  animation: slide-inL .2s reverse;
}

@keyframes slide-inL {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.width-enter-active {
  animation: width .4s;
}
.width-leave-active {
  animation: width .2s reverse;
}

@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 612px;
  }
}